@model IEnumerable<MovieRentalApplication.Entities.Movie>

@{
    Layout = null;
}

<script>
    function filterFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, notfound;
        input = document.getElementById("movieInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("moviesTable");
        tr = table.getElementsByTagName("tr");
        notfound = document.getElementById("not-found");
        notfound.style.display = "none";

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
        
        if ($('#moviesTable tbody').children(':visible').length == 0) {
            notfound.style.display = "";
        }
    }
</script>



<h2>Movies Index</h2>

<!--Search panel-->
<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Search</span>
    <input type="text" class="form-control" id="movieInput" onkeyup="filterFunction()" placeholder="Enter Movie Name" aria-describedby="basic-addon1">
</div>
<hr />

<a href="@Url.Action("Create", "Movies")" class="btn btn-primary">
    Add A New Movie
</a>

<table class="table" id="moviesTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.movieName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.movieName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.year)
                </td>
                <td>
                    @if (item.image != null)
                    {
                        var base64 = Convert.ToBase64String(item.image);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                        <img src="@imgSrc" style="width:150px;height:200px;" />
                    }
                    else
                    {
                        <p>No Image</p>
                    }
                    @*@Html.DisplayFor(modelItem => item.image)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.genre)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.movieID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.movieID })
                </td>
            </tr>
        }
        <tr id="not-found" style="display:none">
            <th colspan="6" style="text-align:center">
                <div class="alert alert-danger">
                    <strong>No Movies Found!</strong>
                </div>
            </th>
        </tr>
    </tbody>

</table>


